<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469691765994-ahpdo7k71o5d95ilcmk2bg01nsvfskol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469691765994-ahpdo7k71o5d95ilcmk2bg01nsvfskol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469691765994-p131ofo9501662c3v016lapuh1r2g4h4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeJOQj5lGOFetYVHBULTIvVS2-HQJpa8A</string>
	<key>GCM_SENDER_ID</key>
	<string>469691765994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentra.app.mentra.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mentra-2323f</string>
	<key>STORAGE_BUCKET</key>
	<string>mentra-2323f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469691765994:ios:62fa24625d238b3044b393</string>
</dict>
</plist>