<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa1KBp0f_ro54lk-_x0vwDDjxFA1lEOss</string>
	<key>GCM_SENDER_ID</key>
	<string>169551218022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourmentra.mentra</string>
	<key>PROJECT_ID</key>
	<string>mentra-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mentra-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169551218022:ios:1aee780eb6a35b4da634a7</string>
	<key>DATABASE_URL</key>
	<string>https://mentra-firebase-default-rtdb.firebaseio.com</string>
</dict>
</plist>